apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-deployment
  namespace: app1
  labels:
    app: app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      containers:
      - name: app-container
        image: mohamedmotaz350/app
        ports:
        - containerPort: 80
        imagePullPolicy: always
